<%= turbo_frame_tag "doer_form_turbo_frame" do %>
  <div class='panel panel-default'>
    <div class="panel-heading">
      <h1>Edit Doer</h1>
    </div>
    <div class="panel-body">
      <%= render 'form', doer: @doer %>
    </div>
  </div>
<% end %>