<%= turbo_frame_tag "chore_form_turbo_frame" do %>
  <div class='panel panel-default'>
    <div class="panel-heading">
      <h1>Edit Chore</h1>
    </div>
    <div class="panel-body">
      <%= render 'form', chore: @chore %>
    </div>
  </div>
<% end %>