<%= turbo_frame_tag "new_chore_turbo_frame" do %>
  <div class='panel panel-default'>
    <div class="panel-heading">
      <h1>New Chore</h1>
    </div>
    <div class="panel-body">
      <%= render 'form', chore: @chore %>
    </div>
  </div>
<% end %>